.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://source.unsplash.com/SwCMZwrhQm8/640x959');
    background-size: cover;
    background-position: center center;
}