<div class="row mb-3">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onRegister()">
                  Agregar <i class="fas fa-plus ms-2"></i>
              </button>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="row-border hover table w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Anaquel</th>
                <th>Nivel</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="ubicaciones.length !== 0">
            <tr *ngFor="let ubicacion of ubicaciones; let i = index;">
                <td> {{ i + 1 }} </td>
                <td>{{ ubicacion.anaquel }}</td>
                <td>{{ ubicacion.nivel }}</td>
                <td>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onEdit(ubicacion)">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-danger" (click)="delete(ubicacion.id)">
                              <i class="fas fa-trash"></i>
                          </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="ubicaciones.length === 0">
            <tr>
                <td colspan="3" class="no-data-available">No data!</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form novalidate autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ isEditing ? 'Editar Ubicación' : 'Nueva Ubicación' }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Anaquel</label>
                        <input type="text" maxlength="10" class="form-control" placeholder="Anaquel" [class.is-invalid]="isAnaquelValid" formControlName="anaquel">
                        <div class="invalid-feedback" *ngIf="isAnaquelValid">
                            {{ getErrorMessage('anaquel') }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nivel</label>
                        <input class="form-control" maxlength="10" placeholder="Nivel" [class.is-invalid]="isNivelValid" formControlName="nivel">
                        <div class="invalid-feedback" *ngIf="isNivelValid">
                            {{ getErrorMessage('nivel') }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid || isLoading"> {{ isEditing ? 'Guardar' : 'Registrar'}} </button>
                </div>
            </form>
        </div>
    </div>
</div>