<div class="card h-100">
    <div class="card-body text-white" [ngClass]="{ 'bg-success': cardSuccess, 'bg-danger': cardDanger, 'bg-warning': cardWarning}">
        <h5 class="card-title">
            <a class="text-white" [routerLink]="['/dashboard/reactivos/detail/', reactivo.id]">{{ reactivo.nombre }}</a>
        </h5>
        <p class="card-text">
            {{ reactivo.desripcion }}
            <br> <strong>Stock:</strong> {{ reactivo.stock }}
            <br> <strong>Cantidad:</strong> {{ reactivo.cantidad }}
        </p>
    </div>
</div>